.ha31-circle {
    height: 100px;
    width: 100px;
    background-color: #ffffff;
    border-radius: 50%;
    border: 10px solid #000000;
    display: inline-block;
  }

  .ha31-circle:hover {
    height: 100px;
    width: 100px;
    background-color: #8dc63f;
    border-radius: 50%;
    border: 10px solid #000000;
    display: inline-block;
  }

  button {
    border: 0;
    position: relative;
}

button::before,
button::after {
    box-sizing: inherit;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
}

.spin {
    height: 200px;
    width: 200px;
}

.spin::before,
.spin::after {
    top: 0;
    left: 0;
}

.spin::before {
    border: 10px solid transparent;
}

.spin:hover::before {
    border-top-color: #000000;
    border-right-color: #000000;
    border-bottom-color: #000000;
    transition: border-top-color 0.15s linear, border-right-color 0.15s linear 0.10s, border-bottom-color 0.15s linear 0.20s;
}

.spin::after {
    border: 0 solid transparent;
}

.spin:hover::after {
    border-top: 10px solid #000000;
    border-left-width: 10px;
    border-right-width: 10px;
    transform: rotate(270deg);
    transition: transform 0.4s linear 0s, border-left-width 0s linear 0.35s, -webkit-transform 0.4s linear 0s;
}

.circle {
    border-radius: 100%;
    box-shadow: none;
    background: #ffffff;
}

.circle::before,
.circle::after {
    border-radius: 100%;
}


