.logo-header {
    display: block;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.logo-header-2 {
  /* display: block; */
  /* margin-top: 200px; */
  /* margin-bottom: 200px; */
  /* margin-left: auto; */
  /* margin-right: auto; */
  width: 100%;
  opacity: .2;
  /* margin: auto; */
  /* -webkit-box-reflect: below; */
  /* object-fit: contain; */
}

.logo-ha {
  /* display: block; */
  /* margin-top: 200px; */
  /* margin-bottom: 200px; */
  /* margin-left: auto; */
  /* margin-right: auto; */
  /* width: 100%; */
  /* display: block; */
  /* margin-left: auto; */
  /* margin-right: auto; */
  /* width: 100%; */
  opacity: .2;
  /* margin-left: 63%; */
  /* margin: auto; */
  /* -webkit-box-reflect: below; */
  /* object-fit: contain; */
  float: right;
}

.logo-31 {
  float: left;
  /* display: block; */
  /* margin-top: 200px; */
  /* margin-bottom: 200px; */
  /* margin-left: auto; */
  /* margin-right: auto; */
  /* width: 100%; */
  /* padding-left: -100%; */
  /* width: 100%; */
  opacity: .2;
  /* margin: auto; */
  /* -webkit-box-reflect: below; */
  /* object-fit: contain; */
}

/* .full-width-section {
  background: aqua;
} */

/* .container {
  background: aqua;
} */

/* body {
  background: aqua;
} */

div.inner-header-wrapper {
  background: #f7f7f7;
}


/* .classic-header {
  background: aqua;
} */

/* .header-underline-animation {
  background: aqua;
} */

/* #header-background  {
  background: aqua;
} */


