/* .ha31-circle {
    height: 100px;
    width: 100px;
    background-color: #ffffff;
    border-radius: 50%;
    border: 10px solid #000000;
    display: inline-block;
  }

  .ha31-circle:hover {
    height: 100px;
    width: 100px;
    background-color: #8dc63f;
    border-radius: 50%;
    border: 10px solid #000000;
    display: inline-block;
  } */


  /* body {
    height: 100vh;
    position: relative;
    background-color: #f5f5f5;
  } */
  
  
/*   
  svg,
  .logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
  }
  
  .logo {
    width: 7px;
    height: 7px;
    background-color: #231f20;
    border-radius: 100px;
    opacity: 0;
    animation: fadeIn 0.75s linear forwards;
      animation-delay: 1s;

  }
  
  .circle {
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    animation: stroke 2s ease-out forwards;
  }
  
  @keyframes stroke {
    to {
      stroke-dashoffset: 0;
    }
  }
  
  @keyframes fadeIn {
    to {
      opacity: 1;
    }
  }
  
  .ha-ring {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    position: relative;
  }
  


  .fade-in {
    animation: fadeIn ease 5s;
    -webkit-animation: fadeIn ease 5s;
    -moz-animation: fadeIn ease 5s;
    -o-animation: fadeIn ease 5s;
    -ms-animation: fadeIn ease 5s;
  }
  
  
  @keyframes fadeIn{
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
  @-moz-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
  @-webkit-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
  @-o-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
  @-ms-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }

  .ha-logo  {
    margin: 0 auto;
    max-width: 50%;
    height: auto;
  } */


  /* @import url(http://fonts.googleapis.com/css?family=Roboto:400,700,300); */

/* body {
  font-family: "Roboto", sans-serif;
  background:#d7bd94;
} */
/* 
.circle-wrap {
  margin: 50px auto;
  width: 150px;
  height: 150px;
  background: #e6e2e7;
  border-radius: 50%;
}

.circle-wrap .circle .mask,
.circle-wrap .circle .fill {
  width: 150px;
  height: 150px;
  position: absolute;
  border-radius: 50%;
}

.circle-wrap .circle .mask {
  clip: rect(0px, 150px, 150px, 75px);
}

.circle-wrap .circle .mask .fill {
  clip: rect(0px, 75px, 150px, 0px);
  background-color: #000000
}

.circle-wrap .circle .mask.full,
.circle-wrap .circle .fill {
  animation: fill ease-in-out 1s;
  transform: rotate(180deg);
}

@keyframes fill {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(180deg);
  }
}

.circle-wrap .inside-circle {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  background: #fff;
  line-height: 130px;
  text-align: center;
  margin-top: 10px;
  margin-left: 10px;
  position: absolute;
  z-index: 100;
  font-weight: 700;
  font-size: 2em;
}

.ha {
  text-align: center;
  width: 70%;
}

.fade-in  {
  animation: fadeIn ease 5s;
  -webkit-animation: fadeIn ease 5s;
  -moz-animation: fadeIn ease 5s;
  -o-animation: fadeIn ease 5s;
  -ms-animation: fadeIn ease 5s;
}

#container {
  margin: 20px;
  width: 200px;
  height: 200px;
} */